service vendor.usb /vendor/bin/hw/android.hardware.usb-service.gs101
    class hal
    user system
    group system shell wakelock
    capabilities WAKE_ALARM BLOCK_SUSPEND

on property:sys.port_security_mode=ports_disabled
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/cc_toggle_enable 0
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/data_path_enable 0

on property:sys.port_security_mode=charging-only_immediate
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/data_path_enable 0
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/cc_toggle_enable 1

on property:sys.port_security_mode=charging-only
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/data_path_enable -1
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/cc_toggle_enable 1

on property:sys.port_security_mode=ports_enabled
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/data_path_enable 1
    write /sys/devices/platform/10d50000.hsi2c/i2c-12/12-0025/cc_toggle_enable 1
